In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import PowerTransformer

/usr/local/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
data = pd.read_csv('../../processed-data/tidy_socialmedia_data.csv', index_col=0)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8687 entries, 1 to 12245
Data columns (total 24 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Participant                      8687 non-null   int64
 1   Date                             8687 non-null   object
 2   Day                              8687 non-null   object
 3   Time                             8687 non-null   object
 4   Session.Name                     8687 non-null   object
 5   Notification.No                  8687 non-null   int64
 6   LifePak.Download.No              8687 non-null   int64
 7   Responded                        8687 non-null   int64
 8   Completed.Session                8687 non-null   int64
 9   Session.Instance                 8687 non-null   float64
 10  Session.Instance.Response.Lapse  8687 non-null   object
 11  Reminders.Delivered              8687 non-null   int64
 12  Fatigue                          8652 non-null   float64
 13  LowMood                          8647 non-null   float64
 14  Loneliness                       8646 non-null   float64
 15  Concentrat                       8643 non-null   float64
 16  LossOfInt                        8646 non-null   float64
 17  Inferior                         8646 non-null   float64
 18  Hopeless                         8649 non-null   float64
 19  Stress                           8648 non-null   float64
 20  PSMU                             8644 non-null   float64
 21  News                             8647 non-null   float64
 22  ASMU                             8645 non-null   float64
 23  full_count                       8687 non-null   int64
dtypes: float64(12), int64(7), object(5)
memory usage: 1.7+ MB

In [4]:
data['Date']= pd.to_datetime(data['Date'])

In [12]:
dailyMean = data.groupby(["Participant", "Date"], as_index=False)["LowMood"].mean()
display(dailyMean)

      Participant       Date    LowMood
0          115091 2017-05-02  33.000000
1          115091 2017-05-03  22.666667
2          115091 2017-05-04  28.833333
3          115091 2017-05-05  16.500000
4          115091 2017-05-06  32.200000
...           ...        ...        ...
1722      9873359 2017-04-21   0.000000
1723      9873359 2017-04-22   2.714286
1724      9873359 2017-04-23   1.833333
1725      9873359 2017-04-24   1.666667
1726      9873359 2017-04-25   0.000000

[1727 rows x 3 columns]